version: '3.9'
services:
  r:
    build:
      context: './R'
      dockerfile: Dockerfile
    container_name: rContainer
    #ports:
      #- '6789:6789'  
  jupyter:
    build:
      context: './jupyter'
      dockerfile: Dockerfile
    container_name: JupyterContainer
    links: 
      - "r:rserver"
    ports:
     - '8888:8888' 
